<div>Angular Portal version {{apiVersion}}</div>
<a ng-repeat="app in apps" ng-href="{{app.url}}">|&nbsp;{{app.name}}&nbsp;|</a>
<hr/>
<div ng-transclude></div>
<hr/>
<div>©2014 Michael Dausmann</div>
</div>